@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #00141A;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #353535; */
    --background: #2d2d2d;
    /* --foreground: #ededed; */
    --foreground: #808080;
    /* --foreground: rgb(141 141 141); */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {

  .autofill-text:-webkit-autofill {
    -webkit-text-fill-color: var(--foreground);
  }

  .text-input {
    @apply autofill-text;
    @apply autofill:shadow-[inset_0_0_0px_1000px_#252525];
  }
}

input:-webkit-autofill {
  @apply bg-background !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  @apply bg-background !important;
}

input:-webkit-autofill:active {
  @apply bg-background !important;
}
